int[] increment(int[] a, int size) {
    int i = 0;
    int[] result = new int[size];

    while(i < size) {
        result[i] = a[i] + 1;
        i++;
    }
}

int[][] generate(int multiplicity) {
    int[][] result = new int[][multiplicity];

    int i = 0;
    while(i < multiplicity) {
        result[i] = new int[i+1];

        int z = 0;
        while(z < i) {
            result[z] = z;
            z++;
        }
        i++;
    }

    return result;
}

int main () {
    int[][] x = generate(10);

    int[] y = increment(x[9], 10);

    printInt(y[10]);
}